@model CategoryListViewModel
<div class="list-group sticky-top pt-4">
    <a class="list-group-item list-group-item-action @(Model.SelectedCategoryUrl=="" ? "active" : "")"
       asp-area=""
       asp-controller="Tutoring"
       asp-action="LessonList"
       asp-route-categoryurl=""
       asp-route-instructorurl="">Tüm Eğitimler</a>
    @foreach (var categoryViewModel in Model.CategoryViewModelList)
    {
        <a class="list-group-item list-group-item-action @(Model.SelectedCategoryUrl==categoryViewModel.Url ? "active" : "")"
           asp-area=""
           asp-controller="Tutoring"
           asp-action="LessonList"
           asp-route-categoryurl="@categoryViewModel.Url"
           asp-route-instructorurl="">@categoryViewModel.Name</a>
    }
</div>