@model List<TeacherViewModel>
@{
    ViewData["Title"] = "Tutoring Ana Sayfa";
}
<div class="row">
    <div class="col-2">
        @await Component.InvokeAsync("Categories")
        @await Component.InvokeAsync("Lessons")
    </div>
    <div class="col-10">
        <div class="row g-3">
            @foreach (var teacherViewModel in Model)
            {
                <div class="col-2">
                    @await Html.PartialAsync("_TeacherList",teacherViewModel)
                </div>
            }
        </div>
    </div>
</div>
